body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

select {
    width: 100%;
    height: 50px;
    padding: 20px 25px 15px;
    border: 1px solid black;
    border-radius: 5px;
    background: transparent;
    outline: none;
    line-height: 30px;
    font-weight: 400;
    box-sizing: border-box;
}

button {
    width: 30%;
    height: 40px;
    background-color: rgb(218, 83, 73);
}

.form-main {
    background: linear-gradient(to bottom, #00000024, #00000024),
        url(https://media.istockphoto.com/id/1307675090/photo/fraud-alert-concept-with-security-lock-on-fake-credit-cards.jpg?s=612x612&w=0&k=20&c=R2djChH2SEFXNRFOo3K7z_Jd4aZl8Yl5Tn64oFVuhh4=) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-main .main-wrapper {
    border-radius: 10px;
    padding: 45px;
    width: 40%;
    box-shadow: 0 0 5px 5px #00000020;
    backdrop-filter: blur(8px);
    background-color: #ffffff85;
}

@media screen and (max-width: 991px) {
    .form-main .main-wrapper {
        width: 70%;
    }
}

@media screen and (max-width: 767px) {
    .form-main .main-wrapper {
        width: 90%;
    }
}

.form-main .main-wrapper .form-head {
    font-size: 30px;
    line-height: 40px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0 25px;
}

.form-main .main-wrapper .form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.form-main .main-wrapper .form-wrapper .form-card {
    position: relative;
    width: 100%;
}

.form-main .main-wrapper .form-wrapper .form-card .form-input {
    padding: 20px 25px 15px;
    width: 100%;
    border-radius: 5px;
    background: transparent;
    outline: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    box-sizing: border-box;
}

.form-main .main-wrapper .form-wrapper .form-card .form-label {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}

.form-main .main-wrapper .form-wrapper .form-card .form-textarea {
    padding: 20px 25px 15px;
    width: 100%;
    border-radius: 5px;
    background: transparent;
    outline: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
}

.form-main .main-wrapper .form-wrapper .form-card .form-textarea-label {
    position: absolute;
    left: 25px;
    top: 30%;
    transform: translateY(-70%);
    pointer-events: none;
    transition: 0.3s;
    margin: 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
}
